{
  "version": 1.0,
  "project": "Bodgeit",
  "team": "/CxServer/Bodgeit",
  "sast": {
    "preset": "OWASP TOP 10 - 2017",
    "engineConfiguration": "",
    "incremental": "false",
    "forceScan" : "true",
    "fileExcludes": "",
    "folderExcludes": ""
  },
  "additionalProperties" : {
    "cxFlow": {
      "application": "jira1_bodgeit_raytheon_workflow",
      "branches": ["master"],
      "emails": ["robert.richards@checkmarx.com"],
      "bugTracker": "JIRA",
      "jira": {
        "project": "J1RAY3",
        "issue_type": "Bug",
        "assignee": {"accountId": "5f7fb310287870006a519877"},
        "opened_status": ["Open","Reopen"],
        "closed_status": ["Closed","Done"],
        "open_transition": "Reopen Issue",
        "close_transition": "Close Issue",
        "close_transition_field": "resolution",
        "close_transition_value": "Done",
        "priorities": {
          "High": "High",
          "Medium": "High",
          "Low": "High"
        }
      }
    }
  }
}
